<%@ import java.util.* %>
<%@ import demo.model.* %>
<%@ extends bb.sparkjava.BBSparkTemplate %>
<%@ layout Layout %>
<%@ params(List<Message> messages) %>

<div id="outer-frame">
    <div id="who">
        <ul>
            <li>Harika</li>
            <li>Ed</li>
            <li>Carson</li>
        </ul>
    </div>

    <div id="top-bar">
        <div id="title">
        Welcome to internchan
        </div>
    </div>

    <div id="messages">
        <div class="message">
            Demo Message
        </div>
        <% for (Message m: messages) { %>
        <div class="message">
            ${m.getMessage()}
        </div>
        <% } %>
    </div>

    <div id="chat-box">
        <form action="/" method="post" autocomplete="off">
        <input type="text" name="message" autofocus="autofocus">
            <button>Submit</button>
        </form>
    </div>
</div>