<%@ import java.util.* %>
<%@ import demo.model.* %>
<%@ extends bb.sparkjava.BBSparkTemplate %>
<%@ layout Layout %>
<%@ params(List<Message> messages) %>

<div id="outer-frame">
    <div id="who">
        <ul>
            <li>Harika</li>
            <li>Ed</li>
            <li>Carson</li>
        </ul>
    </div>

    <div id="top-bar">
        Welcome to internchan
    </div>

    <div id="messages">
        <div>
            Demo Message
        </div>
    </div>

    <div id="chat-box">
        <form action="/" method="post">
        <textarea name="message">
        </textarea>
            <button>Submit</button>
        </form>
    </div>
</div>