h2 {
  margin-left: 180px;
  font-family: 'Andalusia';
  font-size: 40px;
}

input {
  width: 204px;
}

div {
  font-family: 'News Cycle', sans-serif;
}

select {
  font-family: 'News Cycle', sans-serif;
}

option {
  font-family: 'News Cycle', sans-serif;
}

form.form-horizontal {
  padding: 19px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'News Cycle', sans-serif;
}

input {
  font-family: 'News Cycle', sans-serif;
}

body {
  background-size: 100% auto;
}

@font-face {
    font-family: Andalusia;
    src: url(Andalusia.otf) format("opentype");
    src: url(Andalusia.ttf);
}

div.container {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 200px;
  border-radius: 10px;
  border: 3px solid #e5e5e5;
  width: 50%;
  position: relative;
  top: 50%;
  //transform: translateY(+5%);
}

div.control-group {
  max-width: 130px;
}

a {
  font-size: 10px;
}

div.x {
  width: 170px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'News Cycle', sans-serif;
}
